body{
    background-color: rgb(22, 21, 21);
}

#show_turn{
    text-align: center;
    font-size: xx-large;
}

.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

.ox {
    margin: 0 auto;
    background-color: rgb(190, 185, 185);
    border: none;
    box-shadow: 0px 0px 20px 5px rgb(208, 226, 158);
    width: 50px;
    height: 50px;
    font-size: larger;
    color: floralwhite;
    /*アニメーション*/
    transition: background-color 0.5s, border-radius 0.25s, transform 0.5s;
}

.ox:hover{
    background-color: rgba(22, 21, 21, 0.815);
    border: none;
    border-radius: 50%;
    transform: rotate(180deg);
    cursor: pointer;
}

.result{
    display: flex;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    /* margin-left: 40px; */
}

#show_win{
    font-size: xx-large;
    margin: 0 auto;
}

#replay{
    margin-left: 0px;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    color: rgb(214, 212, 68);
    border: none;
    /* background-color: darkgray; */
    font-size: xx-large;
    transition: background-color 0.8s, color 0.8s, box-shadow 0.8s;
}

#replay:hover{
    background-color: rgb(214, 212, 68);
    color: rgb(54, 53, 53);
    box-shadow: 0px 0px 20px 5px rgb(206, 226, 93);
    cursor: pointer;
}